/* body{
    background-color:pink;
}
    
*/

/* Navabar */
.navbar {
    height: 10 rem
}

.fa-compass{
    color: #fe424d
}

/* MAP
#map { 
    height: 100%;
    width: 100%;
    background-color: #fe424d;
 } */